#infra/.terraform/providers/registry.terraform.io/hashicorp/aws/4.27.0/windows_amd64/terraform-provider-aws_v4.27.0_x5.exe
#infra/.terraform/providers/registry.terraform.io/hashicorp/random/3.3.2/windows_amd64/terraform-provider-random_v3.3.2_x5.exe
#task-memo/infra/.terraform/providers/registry.terraform.io/hashicorp/aws/4.27.0/windows_amd64/terraform-provider-aws_v4.27.0_x5.exe
#/infra/.terraform
/task-memo/infra/.terraform